

<div class="col-lg-6">
    <div class="position-relative mb-3">
        {{ fields.field_image.content }}
        <div class="overlay position-relative bg-light">
            <div class="mb-2" style="font-size: 14px;">
                <a href="">{{ fields.field_categories.content }}</a>
                <span class="px-1">/</span>
                <span>January 01, 2045</span>
            </div>
            {{ fields.title.content }}
            {{ fields.body.content }}
        </div>
    </div>
</div>
