<div class="position-relative">
    {{ fields.field_image.content }}
    {# <img class="img-fluid w-100" src="img/news-500x280-1.jpg" style="object-fit: cover;"> #}
    <div class="overlay position-relative bg-light">
        <div class="mb-2" style="font-size: 13px;">
            <a href="">{{ fields.field_categories.content }}</a>
            {# <span class="px-1">/</span>
            <span>January 01, 2045</span> #}

        </div>
        <a class="h4 m-0" style="color:#343a40;" href="#">{{ fields.title.content }}
    </div>
</div>