{% if title %}
    <h3>{{ title }}</h3
{% endif %}
<div class="container-fluid py-3">
    <div class="container">
        <div class="owl-carousel owl-carousel-2 carousel-item-3 position-relative">
            {% for row in rows %}
                {{- row.content -}}
            {% endfor %}
        </div>
    </div>
</div>